<div id="content">
  <div id="form">
    <h2 class="header">Formulario</h2>
    <div>
      <form [formGroup]="form">
        <!--name-->
        <select formControlName="idPlayList" class="form-select" >
          <option value="{{item.id}}" *ngFor="let item of bodyPlayList">{{item.name}}</option>

        </select>
        <ng-container *ngIf="!submittedForm">
          <div class="error" *ngIf="!form.controls['idPlayList'].valid">
            <div *ngIf="this.form.get('idPlayList')?.errors?.['havespace']">
              {{massaje}}
            </div>
          </div>
        </ng-container>
        <!--description-->
        <div style="display: grid;place-items: center;">
          <div style="display: inline-flex; margin: auto;">
            <button class="cerrar" style="display: inline-flex;" mat-button [mat-dialog-close]="true">	<mat-icon>cancel</mat-icon><h3>Cerrar</h3></button>
            <button (click)="save()" style="display: inline-flex;"class="save" mat-button ><mat-icon>save</mat-icon><h3>Crear</h3></button>

          </div>

        </div>


      </form>

    </div>
  </div>

</div>
